<div class="container">
  <div class="title is-3">Détail de la randonnée</div>
  <br>
  <ul class="menu-list" *ngIf="hike != undefined">
      <li>Identifiant : {{ hike.identifiant }}</li>
      <li>Nom : {{ hike.nom }}</li>
      <li>Comune de départ : {{ hike.commune_depart }}</li>
      <li>Code INSEE : {{ hike.code_insee }}</li>
      <li>Départ : {{ hike.depart }}</li>
      <li>Descriptif : {{ hike.descriptif }}</li>
      <li>Cheminement aller : {{ hike.cheminement_aller }}</li>
      <li>Cheminement retour : {{ hike.cheminement_retour }}</li>
      <li>Difficulté : {{ hike.difficulte }}</li>
      <li>Temps de parcours : {{ hike.temps_parcours }}</li>
      <li>Longueur : {{ hike.longueur }}</li>
      <li>Denivele : {{ hike.denivele }}</li>
      <li>Vocation : {{ hike.vocation }}</li>
      <li>Observation : {{ hike.observation }}</li>
      <li>Abscisse de départ : {{ hike.xdepart }}</li>
      <li>Ordonnée de départ : {{ hike.ydepart }}</li>
      <li>GID : {{ hike.gid }}</li>
  </ul>
</div>
